<template>
  <form>
  <div class="alert alert-success" role="alert" v-show="saved">
    <h4 class="alert-heading">{{mess}}</h4>
  </div>
    <div class="alert alert-danger" role="alert" v-show="error">
      <h4 class="alert-heading">{{mess}}</h4>
    </div>

  <div class="form-group row">
    <label for="colFormTitle" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
    <div class="col-sm-6">
      <input type="email"  v-model="email" class="form-control form-control-lg" id="colFormTitle">
    </div>
  </div>
    <div class="form-group row">
      <label for="colFormTitle" class="col-sm-2 col-form-label col-form-label-lg">Name</label>
      <div class="col-sm-6">
        <input type="text"  v-model="name" class="form-control form-control-lg" id="colFormName">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormTitle" class="col-sm-2 col-form-label col-form-label-lg">Password</label>
      <div class="col-sm-6">
        <input type="password"  v-model="password" class="form-control form-control-lg" id="colFormPassword">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormTitle" class="col-sm-2 col-form-label col-form-label-lg">Phone Number</label>
      <div class="col-sm-6">
        <input type="text"  v-model="phoneNumber" class="form-control form-control-lg" id="colFormPhone">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormTitle" class="col-sm-2 col-form-label col-form-label-lg">Age</label>
      <div class="col-sm-6">
        <input type="number"  v-model="age" class="form-control form-control-lg" id="colFormAge">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormAddress" class="col-sm-2 col-form-label col-form-label-lg">Address</label>
      <div class="col-sm-6">
        <input type="text"  v-model="address" class="form-control form-control-lg" id="colFormAddress">
      </div>
    </div>
  <div class="form-group row">
    <div class="col-md-12">

      <button class="btn btn-social col-md-2" @click="fallback">Back</button>
      <button class="btn btn-success col-md-2" @click="addNew">Save</button>
    </div>
  </div>
  </form>
</template>

<script>
import axios from 'axios'
export default {
  name: 'AddForm',
  props: [],
  data: function () {
    return {
      error: false,
      saved: false,
      mess: 'Submit successful!',
      email: '',
      password: '',
      phoneNumber: '',
      address: '',
      age: 0,
      name: ''
    }
  },
  methods: {
    fallback () {
      this.$router.push('/')
    },
    clearForm () {
      this.error = false
      this.mess = 'Submit successful!'
      this.email = ''
      this.password = ''
      this.phoneNumber = ''
      this.address = ''
      this.age = 0
      this.name = ''
    },
    addNew () {
      var url = 'http://localhost:3000/users/register'
      var data = {
        email: this.email,
        password: this.password,
        name: this.name,
        phoneNumber: this.phoneNumber,
        address: this.address,
        age: this.age.valueOf()
      }

      axios.post(url, data)
        .then(response => console.log('Success:', JSON.stringify(response)))
        .then(this.saved = true)
        .then(this.error = false)
        .then(this.mess = 'Submit successful!')
        .then(this.clearForm)
        .catch(error => {
          this.saved = false
          this.error = true
          this.color = 'warning'

          this.mess = 'Error:' + error.response.data.errors[0].constraints.isString
          console.error('There was an error!', error)
        })
    }
  }
}
</script>

<style scoped>

</style>
