<template>
   <div class="card">
   <div class="card-header col-md-12">
    <div class="col-md-4">
       <div class="input-group-text">

        <input type="text" v-model="search" class="form-control" placeholder="Search by email">
         <button class="btn btn-success ml-3" @click="fireSearch(1,search)" > Search </button>
         <i class="nc-icon nc-zoom-split"></i>
          </div>
        </div>
      <div class="col-md-1">
        <div class="input-group-text">
        <button class="btn btn-primary " @click="fireAdd" > Add</button>
        </div>
      </div>

   </div>
   <div class="card-body">

     <div class="table-responsive">
       <table class="table " style="table-layout:fixed;">
         <thead class=" text-primary">
          <th>
             Email
          </th>
          <th>
            Name
          </th>
          <th>
            Age
          </th>
          <th>
            Phone number
          </th>
        <th>
          Date Created
          </th>
        <th>
          Address
          </th>
          <th>
            Role
          </th>
          <th>
            Last Updated
          </th>
        <th class="text-right">
          Action
          </th>
        </thead>
        <tbody id="table-content">
           <tr v-for="(user,index) in users"  v-bind:key="user._id">
            <td style=" overflow: none;">
            {{user.email}}
            </td>
            <td>
            {{user.name}}
            </td>
             <td>
               {{user.age}}
             </td>
             <td>
               {{user.phoneNumber}}
             </td>
             <td>
               {{user.createdAt}}
             </td>
             <td>
               {{user.address}}
             </td>
             <td>
               {{user.role}}
             </td>
             <td>
               {{user.updatedAt}}
             </td>
          <td class="text-right">
               <i class="nc-icon nc-ruler-pencil"></i>
            <button class="btn btn-dark" v-on:click="fireEdit(user._id,index)">Edit</button>
             <i class="nc-icon nc-simple-remove"></i>
             <button class="btn btn-danger" v-on:click="fireDelete(user._id,index)">Delete</button>
          </td>
            </tr>
          </tbody>
          </table>

       </div>
     <nav aria-label="...">

       <ul class="pagination" style="list-style-type: none; display: inline-flex;" v-for="(page,index) in totalPage"  v-bind:key="index" >

         <li   class="page-item"><a class="page-link" @click="fireSearch(index+1,search)">{{index+1}}</a></li>

       </ul>
     </nav>

     </div>

   </div>
</template>

<script>
export default {
  name: 'Content',
  data: function () {
    return {
      pages: 3,
      mess: 'fine',
      search: ' ',
      users: []
    }
  },
  created () {
    var headers = {'Content-Type': 'application/json', 'Authorization': process.env.API_KEY}
    fetch('http://localhost:3000/users?sortBy=createdAt&sortOrder=desc', { headers })
      .then(response => response.json())
      .then(data => (
        this.users = data
      ))
  },
  computed: {
    totalPage: function () {
      var total = this.pages / 7
      var newtotal = Math.ceil(total)
      console.log(total)
      console.log(newtotal)
      return newtotal
    }
  },
  methods: {
    fireSearch (page, search) {
      var headers = {'Content-Type': 'application/json', 'Authorization': process.env.API_KEY}
      fetch('http://localhost:3000/users?sortBy=createdAt&sortOrder=desc&search=' + search.trim(), { headers })
        .then(response => response.json())
        .then(data => (
          this.users = data
        ))
    },
    fireDelete (id, index) {
      var header = {'Content-Type': 'application/json', 'Authorization': process.env.API_KEY}
      var url = 'http://localhost:3000/users/' + id
      var data = {
        isActive: false
      }

      fetch(url, {
        headers: header,
        method: 'PATCH', // or 'PUT'
        body: JSON.stringify(data) // data can be `string` or {object}!
      }).then(res => res.json())
        .then(response => console.log('Success:', JSON.stringify(response)))
        .then(this.$delete(this.users, index))
        .catch(error => console.error('Error:', error))
    },
    fireEdit (id, index) {
      this.$router.push('/edit?id=' + id)
    },
    fireAdd () {
      this.$router.push('/add')
    }

  }
}
</script>

<style scoped>

</style>
