<template>
  <form>
    <div class="alert alert-success" role="alert" v-show="saved">
      <h4 class="alert-heading">{{mess}}</h4>
    </div>
    <div class="alert alert-danger" role="alert" v-show="error">
      <h4 class="alert-heading">{{mess}}</h4>
    </div>

    <div class="form-group row">
      <label for="colFormTitle" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
      <div class="col-sm-6">
        <input type="email"  v-model="email" class="form-control form-control-lg" id="colFormTitle">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormTitle" class="col-sm-2 col-form-label col-form-label-lg">Name</label>
      <div class="col-sm-6">
        <input type="text"  v-model="name" class="form-control form-control-lg" id="colFormName">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormTitle" class="col-sm-2 col-form-label col-form-label-lg">Password</label>
      <div class="col-sm-6">
        <input type="password"  v-model="password" class="form-control form-control-lg" id="colFormPassword">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormTitle" class="col-sm-2 col-form-label col-form-label-lg">Phone Number</label>
      <div class="col-sm-6">
        <input type="text"  v-model="phoneNumber" class="form-control form-control-lg" id="colFormPhone">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormTitle" class="col-sm-2 col-form-label col-form-label-lg">Age</label>
      <div class="col-sm-6">
        <input type="number"  v-model="age" class="form-control form-control-lg" id="colFormAge">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormAddress" class="col-sm-2 col-form-label col-form-label-lg">Address</label>
      <div class="col-sm-6">
        <input type="text"  v-model="address" class="form-control form-control-lg" id="colFormAddress">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">

        <button class="btn btn-social col-md-2" @click="fallback">Back</button>
        <button class="btn btn-success col-md-2" @click="updateProfile">Save</button>
      </div>
    </div>
  </form>
</template>

<script>

export default {
  name: 'EditForm',
  data: function () {
    return {
      error: false,
      saved: false,
      mess: 'Submit successful!',
      email: '',
      password: '',
      phoneNumber: '',
      address: '',
      age: 0,
      name: ''
    }
  },
  created () {
    var headers = {'Content-Type': 'application/json', 'Authorization': process.env.API_KEY}

    fetch('http://localhost:3000/users/' + this.$route.query.id, { headers })
      .then(response => response.json())
      .then(json => {
        this.email = json.email
        this.name = json.name
        this.age = json.age
        this.address = json.address
        this.name = json.name
        this.phoneNumber = json.phoneNumber
      })
  },
  methods: {
    fallback () {
      this.$router.push('/')
    },
    updateProfile () {
      var header = {'Content-Type': 'application/json', 'Authorization': process.env.API_KEY}
      var url = 'http://localhost:3000/users/' + this.$route.query.id
      var data = {
        name: this.name,
        password: this.password,
        phoneNumber: this.phoneNumber,
        age: this.age,
        address: this.address,
        email: this.email
      }

      fetch(url, {
        headers: header,
        method: 'PATCH', // or 'PUT'
        body: JSON.stringify(data) // data can be `string` or {object}!
      }).then(res => res.json())
        .then(response => console.log('Success:', JSON.stringify(response)))
        .then(this.saved = true)
        .catch(error => console.error('Error:', error))
    }
  }
}
</script>
<style>
</style>
