<template>
  <div>
   <div class="container-fluid">
      <div class="row">
         <nav class="footer-nav">
           </nav>
        </div>
     </div>
  </div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>

</style>
