<template>
  <paginate
    :page-count="20"
    :page-range="3"
    :margin-pages="2"
    :click-handler="clickCallback"
    :prev-text="'Prev'"
    :next-text="'Next'"
    :container-class="'pagination'"
    :page-class="'page-item'">
  </paginate>
</template>

<script>
import Paginate from 'vuejs-paginate'
export default {
  name: 'VuejsPaginate',
  components: {
    Paginate
  },
  methods: {
    clickCallback (pageNum){
      console.log(pageNum)
    }
  }
}
</script>

<style lang="css">
  .pagination {
  }
  .page-item {
  }
</style>
