<template>
  <div id="app">
    <div class="wrapper ">
      <div class="sidebar" data-color="white" data-active-color="danger">
        <div id="side">
<!--          <sidebar></sidebar>-->
        </div>
      </div>
      <div class="main-panel">
        <!-- Navbar -->
        <div id="head">
          <headed></headed>

        </div>

        <div class="content pt-5">
          <div class="row">
            <div class="col-md-12" id="content">
              <router-view></router-view>
            </div>

          </div>
          <footer class="footer footer-black  footer-white " id="footer">
<!--            <footed></footed>-->
          </footer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from './components/Sidebar'
import Container from './components/Content'
import Footed from './components/Footer'
import Headed from './components/Head'
import Paginate from 'vuejs-paginate'
export default {
  name: 'App',
  components: {
    Sidebar, Container, Footed, Headed, Paginate
  }
}
</script>

<style>
  @import 'assets/demo/demo.css';
  @import 'assets/css/bootstrap.min.css';
  @import 'assets/demo/demo.css';

  #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
